* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 20px/1 sans-serif;
}

body {
  /* background-image: linear-gradient(to bottom, white, #ce8a88) */
  background:url('https://cdn.pixabay.com/photo/2018/10/23/03/10/abstract-3766886_1280.jpg');
  background-repeat: repeat-y;
  background-size: contain;
}

